<div class="header">
    <div class="nav">
        <table>
            <thead>
                <tr>
                    <th colspan="4">Naviguation bar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a [routerLink] = "['/home']">Accueil</a></td>
                    <td><a [routerLink] = "['/login']">Se connecter</a></td>
                    
                    <td><a [routerLink] = "['/catalogue/poissons']">Catalogue</a></td>
                    <td><a [routerLink] = "['/panier']">Panier({{nbElementPanier}})</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>