<div>
    <table>
        <thead>
            <tr>
                <th class="boldtext" colspan="2">Recap :</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="boldtext">Lastname</td>
                <td>{{user.lastname}}</td>
            </tr>
            <tr>
                <td class="boldtext">Firstname</td>
                <td>{{user.firstname}}</td>
            </tr>
            <tr>
                <td class="boldtext">Address</td>
                <td>{{user.address}}</td>
            </tr>
            <tr>
                <td class="boldtext">Postal Code</td>
                <td>{{user.postalCode}}</td>
            </tr>
            <tr>
                <td class="boldtext">Login</td>
                <td>{{user.login}}</td>
            </tr>
            <tr>
                <td class="boldtext">Email</td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td class="boldtext">Password</td>
                <td>{{user.password}}</td>
            </tr>
            <tr>
                <td class="boldtext">Phone Number</td>
                <td>{{user.phoneNumber}}</td>
            </tr>
            <tr>
                <td class="boldtext">Salutation</td>
                <td>{{user.salutation}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
